name: Type Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  type-check:
    runs-on: ubuntu-latest
    env:
      CLOUDINARY_FOLDER: "test-folder"
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.2"
      - name: Install Dependencies
        run: bun install
      - name: TypeScript Check
        run: bun type-check
